.background {
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  content: "";
  opacity: 0.9;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/GamerStore/imgs/background.png");
}

.content {
  z-index: 1;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

nav {
  height: 4vh;
  display: flex;
  align-items:center;
  justify-content: space-between;
  background-color: #3f3c3c;
}

img {
  border: #333, solid, 2px ;
  border-radius: 5px;
}

a {
  color: #ddd;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  gap: 4vw;
}

h5 {
  margin-left: 15px;
}

.titulo {
  color: #333;
  text-shadow: 1px 1px 0px #ddd, -1px 1px 0px #ddd, 1px -1px 0px #ddd, -1px -1px 0px #ddd;
  margin-left: 380px;
}

#jogoDestaque {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2vw;
  margin-bottom: 150px;
}

#div1JogosMaisVendidos {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-right: 80px;
  gap: 2vw;
}

#div2JogosMaisVendidos {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 20px;
  margin-bottom: 150px;
  gap: 2vw;
}

.categorias {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-right: 10px;
  margin-bottom: 50px;
  gap: 7vw;
}

#alinhamentoCategorias img {
  margin-left: 20px;
}

#alinhamentoCategorias a {
  margin-left: 10px;
}

body {
  margin: 0;
  color: white;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}

.header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333;
}

.header a {
  float: left;
  height: 100%;
  display: block;
  color: white;
  padding: 0px 15px;
  text-align: center;
  align-content: center;
  text-decoration: none;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}
.header a.logo {
  font-size: 1.5em;
  font-weight: bold;
}
.header a.login {
  float: right;
}
.footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.footer p {
  margin: 0;
}
.footer a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.footer a:hover {
  color: #ddd;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .social i {
  margin-right: 5px;
}

main {
  margin-bottom: 5rem !important;
}
