.background {
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  content: "";
  opacity: 0.9;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/GamerStore/imgs/background.png");
}

.content {
  z-index: 1;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

body {
  margin: 0;
  color: white;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}

.header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333;
}

.header a {
  float: left;
  height: 100%;
  display: block;
  color: white;
  padding: 0px 15px;
  text-align: center;
  align-content: center;
  text-decoration: none;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.header a.login {
  float: right;
}

.active {
  background-color: #ddd;
  color: black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.cart {
  flex: 1;
  max-width: 50%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 40px;
}

.item-left {
  display: flex;
  align-items: center;
}

.item-left img {
  width: 100px;
  margin-right: 20px;
}

.item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-info h3 {
  margin: 0;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item-details p {
  font-size: 16px;
  color: white; 
  margin: 0 0 10px 0;
}

.item-details .remove-btn {
  background-color: #ddd;
  color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.item-details .remove-btn:hover {
  background-color: #ccc;
}

.summary {
  background-color: #333;
  color: white;
  padding: 20px;
  width: 300px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.summary-content {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.total {
  margin-top: 20px;
}

.total p {
  font-size: 1.5em;
  margin: 40px 0;
}

.checkout-btn {
  width: 100%;
  padding: 10px;
  background-color: #ddd;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

.checkout-btn:hover {
  background-color: #ccc;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer p {
  margin: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.footer a:hover {
  color: #ddd;
}

.footer .social {
  display: flex;
  align-items: center;
}

.footer .social i {
  margin-right: 5px;
}
