.background {
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  content: "";
  opacity: 0.9;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/GamerStore/imgs/background.png");
}

.content {
  z-index: 1;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

body {
  margin: 0;
  color: white;
  overflow: hidden;
  background-color: black;
  font-family: Arial, sans-serif;
}

.header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #333;
}

.header a {
  float: left;
  height: 100%;
  display: block;
  color: white;
  padding: 0px 15px;
  text-align: center;
  align-content: center;
  text-decoration: none;
}
.header a:hover {
  background-color: #ddd;
  color: black;
}
.header a.logo {
  font-size: 1.5em;
  font-weight: bold;
}
.header a.login {
  float: right;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

aside {
  width: 20%;
  padding-right: 20px;
  box-sizing: border-box;
}

main {
  width: 75%;
  margin-bottom: 5rem !important;
}

.jogos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.jogo {
  width: 45%;
  box-sizing: border-box;
  background-color: #444;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.jogo img {
  width: 100%;
  border-radius: 8px;
}

.seta-direita {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

.sucesso {
  margin-top: 20px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.footer p {
  margin: 0;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.footer a:hover {
  color: #ddd;
}

.footer .social {
  display: flex;
  align-items: center;
}

.footer .social i {
  margin-right: 5px;
}

footer {
  position: relative;
}
